<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
      <div class="container" style="margin-top: 45px;width: 50%;">
        <div class="modal-content">
            <div class="modal-header bg-info">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                  <div class="row">
                      <div class="col-sm-9">
                         <h4><strong>Payment</strong></h4>
                      </div>
      
                  </div>
              </h4>
            </div>
            
            <div class="card" style="background-color:whitesmoke;">
               <div class="card-body"  style="padding-left:20px;margin-top: 5px;">
                 <div class="row">
                        <div class="col-sm-12" >
                                <div class="card" style="width:150px;height: 70px;border-radius: 30px;">
                                    <div class="card-body" style="text-align: center;line-height: 70px;font-size: 40px;"> 
                                        Paytm
                                    </div>          
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card" style="width:150px;height: 70px;border-radius: 30px;">
                                <div class="card-body" style="text-align: center;line-height: 70px;font-size: 30px;"> 
                                    PhonePe
                                </div>          
                        </div>
                        </div>
                        <div class="col-sm-12" >
                            <div class="card" style="width:150px;height: 70px;border-radius: 30px;">
                                <div class="card-body" style="text-align: center;line-height: 70px;font-size: 30px;"> 
                                    Bhim(UPI)
                                </div>          
                        </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card" style="width:150px;height: 70px;border-radius: 30px;">
                                <div class="card-body" style="text-align: center;line-height: 70px;font-size: 30px;"> 
                                  Mobikwik
                                </div>          
                        </div>
                        </div>
                    </div> 
            
                 </div>
               </div>
            
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-9" >
                   
                    </div>
                    <div class="col-sm-3">
                          <a  class="btn btn-info"  href="/abc/payment/success" onclick="getproductdata()">Order</a>
                    </div>
                </div> 
            </div>
          </div>        
      </div>
     
      </div>
      <script src="../static/indexfront.js"></script>
</body>
</html>